{% block modal %}

<!-- Modal -->
<div class="modal fade" id="confirm_remove" tabindex="-1" role="dialog" aria-labelledby="confirm_removeTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title green-text">{{modalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="modal-title green_text">Once you confirm the stuff has been taken, we will remove the item from the database</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-darkgreen light_text" data-dismiss="modal">Cancel & keep item</button>
        <a href="{{url_for('delete_item', item_id=item._id)}}" type="button" class="btn bg-darkgreen light_text">Remove it!</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}