{% extends "layout/base.html" %}
{% block content %}

<!-- Search bar -->
{% include 'components/searchbar.html' %}

<section class='container-fluid mx-auto'>
	<div class="row text-center justify-content-center green_text">
        {% for item in filtered_items %}
		<div class="col-10 col-sm-6 col-md-4 col-lg-3">
			<div class="card my-2">
				<div class="card-body p-0">
                        <div class="card-img-contain mb-3 text-left">
                            <img src="{{item.item_img}}" class="card-img-top card-img image-fluid" alt="Item Image">
                        </div>
                    <div class="row my-3">
                        <div class="col px-0">
                            <h4 class="card-title text-uppercase mb-4">{{item.item_name}}</h4>
					        <h5 class="card-subtitle mb-4">Category: {{item.item_category}}</h5>
                            <h5 class="card-subtitle mb-2">Left by: Username</h5>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col">
                            <a type='button' class='card-collapse light_text px-0 mx-0'>
                                <h6>Find more info about this item...<i class="pl-2 fas fa-chevron-down"></i></h6>
                            </a>
                            <p class="card-text collapsed-content text-left px-0 mx-0 lgreen_text">{{item.item_description}}</p>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col">
                            <a href="#" class="card-link">Email</a>
                            <span class="card-subtitle mt-0"> ... Username</span>
                        </div>
                        
                    </div>
                    
				</div>
			</div>
		</div>
        {% endfor %}
	</div>
</section>

{% endblock %}