{% extends "layout/base.html" %}
{% block content %}

<section class='container-fluid mx-auto'>
	<div class="row">
        {% for item in items %}
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
			<div class="card">
				<div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-title text-uppercase">{{item.item_name}}</h5>
					        <h6 class="card-subtitle mb-3">Category</h6>
                            {% for user in users %}
                            {% if item.username == user.user_name %}
                            <h6 class="card-subtitle mb-2">{{user.user_location}}</h6>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-6">
                            <img src="{{item.item_img}}" class="card-img-top" alt="...">
                        </div>
                    </div>
					<p class="card-text">{{item.item_description}}</p>
                    <a href="#" class="card-link">Email</a>
                    <span class="card-subtitle mt-0">{{item.username}}</span>
				</div>
			</div>
		</div>
        {% endfor %}
	</div>
</section>

{% endblock %}