{% extends "layout/base.html" %}
{% block content %}

<section class='container-fluid mx-auto'>
	<div class="row">
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
			<div class="card">
				<div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-title text-uppercase">Item Name</h5>
					        <h6 class="card-subtitle mb-2">Category</h6>
                            <h6 class="card-subtitle mb-2">Location</h6>
                        </div>
                        <div class="col-6">
                            <img src="" class="card-img-top" alt="...">
                        </div>
                    </div>
					<p class="card-text">This is the description of the item to explain its color, usage state, any damages or repair needed...</p>
					<a href="#" class="card-link">Email</a>
					<h6 class="card-subtitle mb-2">UserName</h6>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}