{% extends "layout/base.html" %}
{% block content %}

<section class="container-fluid mt-5">
	<div class="row text-center">

		<div class="col-11 col-lg-9 mx-auto card">
            <h3 class='green_text my-4'>Need to make some changes? ... Or need to mark item as taken?</h3>
            <h5 class='green_text mb-3'>Change any fields below to any new information.</h5>
			<form class='text-left' method="POST" action="{{url_for('update_item', item_id=item._id)}}">
				<div class="form-group mb-3">
                    <h5 class='lgreen_text'>Name:</h5>
                    <input type="text" class="form-control" id="item_name" name="item_name" aria-describedby="name" value="{{item.item_name}}">
                </div>
                <div class="form-group mb-3">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="item_category" id="category1" value="Kids" {% if item.item_category == 'Kids' %}checked{% endif %}>
						<p class="form-check-label green-text">Kids</p>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="item_category" id="category2" value="Outdoor" {% if item.item_category == 'Outdoor' %}checked{% endif %}>
						<p class="form-check-label green-text">Outdoor</p>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="item_category" id="category3" value="Household" {% if item.item_category == 'Household' %}checked{% endif %}>
						<p class="form-check-label green-text">HouseHold</p>
					</div>
                    <div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="item_category" id="category4" value="Other" {% if item.item_category == 'Other' %}checked{% endif %}>
						<p class="form-check-label green-text">Other</p>
					</div>
                </div>
				<div class="form-group mb-3">
                    <h5 class='lgreen_text'>Change its description if needed or add a deadline for collection...</h5>
                    <textarea class="form-control" id="textarea" name="item_description" rows="auto">{{item.item_description}}</textarea>
                </div>
                <div class="form-group mb-3">
                    <h5 class='lgreen_text'>Where can it be collected?</h5>
                    <input type="text" class="form-control" id="item_location" name="item_location" value="{{item.item_location}}"required>
                </div>
                <div class="form-group mb-1">
                    <h5 class='lgreen_text'>Item Image</h5>
                    <p class='green_text'>If needed, replace with a new photo for your item via <a href="https://imgbb.com/" target="_blank" aria-label="ImgBB">ImgBB</a>.</p>
                    <input type="text" class="form-control" id="item_img" name="item_img" aria-describedby="image" value="{{item.item_img}}">
                </div>
                <div class="row text-center">
                     <h5 class='lgreen_text'>Someone picked up my stuff, I want to remove it.</h5>
                     <div class="col-12 text-left">
                        <button class="btn bg-darkgreen light_text text-uppercase" data-toggle="modal" data-target="#confirm_remove">Remove it</button>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-12 mb-3">
                        <button type="submit" class="btn bg-darkgreen light_text mt-5 text-uppercase">Confirm update</button>
                    </div>
                </div>
			</form>
		</div>
	</div>
</section>

<!-- modal confirmRemove -->
<div class="modal fade" id="confirm_remove" tabindex="-1" role="dialog" aria-labelledby="confirm_removeTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title green_text">Once you confirm "{{item.item_name}}" has been taken, we will remove it from the database</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-darkgreen light_text" data-dismiss="modal">Cancel & keep</button>
        <form method="POST" action="{{url_for('delete_item', item_id=item._id)}}">
            <button type="submit" class="btn bg-darkgreen light_text"><i class="fas fa-thumbs-up"></i>Remove it!</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}