@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Indie+Flower:400');

/* general elements styling */

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    line-height: 1.15;
    scroll-behavior: smooth; /* scroll-behavior to add smooth scrolling */
    font-size: 16px;
}

body {
    background-color: #EFEFDD;
    font-family: "Indie Flower", sans-serif;
    font-size: 1rem;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

div a {
    text-decoration: none;
    color: inherit;
}

/* colors */

.bg-nav {
    background-color: transparent;
}

.bg_light {
    background-color: #EFEFDD;
}

.bg-darkgreen {
    background-color: #005732;
}

.bg-othergreen {
    background-color: #47A349;
}

.light_text {
    color: #EFEFDD;
}

.green_text {
    color: #005732;
}

.lgreen_text {
    color: #47A349;
}

/* buttons */

.btn {
    height: 3rem;
    font-size: 1.25rem;
}

.btn-add {
    height: 2.3rem;
    width: 8rem;
    font-size: 1.1rem;
}

.btn-reg {
    width: auto;
}

.btn:hover {
    color: #005732;
    background-color: #47A349;
}

/* icons */

.icon, .fas {
    font-size: 0.8rem;
}

/* logo */

#logo {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#logo img {
    width: 120px;
    height: 120px;
}

/* nav */

.navbar {
    padding: 0;
    text-align: center;
    overflow: auto;
}

.nav-font {
    font-size: 1.5rem;
}

.navbar-nav .nav-link:hover {
    color: #47A349;
}

/* burger */



/* banner image */
.img-container {
    min-height: 80vh;
    width: 100%;
}

/* little trick for background position https://css-tricks.com/almanac/properties/b/background-position/ */
.banner-image {
    display: block;
    max-width: 100%;
    height: auto;
    background: url(../images/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    padding-top: 0;
}

.attention {
    width: 100%;
    color: #153415;
    font-family: 'Cabin Sketch', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    padding-left: 5px;
    padding-top: 13rem;
}

/* cards */
.card-body {
    flex-grow: 2;
}

.card-img-contain {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

.card-img-contain img {
    position: absolute;
}

.card-img {
    height: 100%;
}


.card-collapse {
    cursor: pointer;
    border: none;
}

.collapsed-content {
    display: none;
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.card-link {
    text-decoration: underline;
    color: #47A349;
}

.card-link:hover{
    color:#153415; 
}

/* login */

#login {
    padding: 1.25rem;
}

/* add items */

.underline {
    text-decoration: underline;
    cursor: pointer; 
}

.underline:hover{
    color: #47A349;
}

/* update or delete items */

.remove {
    border: 0.5rem solid #153415;
    padding: 0.5rem;
}

.remove-highlight {
    text-decoration: underline;
    cursor: pointer; 
    font-size: 1.5rem;
}

.remove-highlight:hover {
    text-decoration: line-through;
    color: #47A349;
}

/* loader */

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* footer */

.footer-row {
    padding: 0.6rem;
    margin-top: 1rem;
}

.footer-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

/* css code for social media icon is copied and slightly changed from Resume Mini-Project */
.socialmedia i {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(177, 206, 184);
    vertical-align: middle;
    display: table-cell;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/* trick to remove underline on font awesome icon when hover: https://codepen.io/jessicalyschik/pen/MJrwwx */

.socialmedia i:before {
    display: inline-block;
    text-decoration: none;
}

/* media queries */

@media (min-width: 576px){
    .btn-add {
    width: 10rem;
    font-size: 1.5rem;
    }
    .img-container {
    min-height: 90vh;
    }
    .attention{
        width: 70%;
        font-size: 3.5rem;
        padding-left: 1.5rem;
        padding-top: 30rem;
    }
}

@media (min-width: 925px){
    .attention{
        width: 60%;
        padding-top: 40rem;
    }
    
}