@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Montserrat&display=swap');
 
* {
    box-sizing: border-box;
}
/* scroll-behavior to add smooth scrolling */
html {
    margin: 0;
    padding: 0;
    line-height: 1.15;
    scroll-behavior: smooth;
}

body {
    background-color: #EBEBEB;
}

/* logo */

#logo {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#logo img {
    width: 100px;
    height: 100px;
}