@import url('https://fonts.googleapis.com/css?family=Bebas+Neue:400|Indie+Flower:400|Nanum+Pen+Script:400');
 
* {
    box-sizing: border-box;
}
/* scroll-behavior to add smooth scrolling */
html {
    margin: 0;
    padding: 0;
    line-height: 1.15;
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    background-color: #EFEFDD;
    font-family: "Indie Flower", sans-serif;
    font-size: 1rem;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

div a {
    text-decoration: none;
    color: inherit;
}

/* colors */

.bg-nav {
    background-color: transparent;
}

.bg_light {
    background-color: #EFEFDD;
}

.bg-darkgreen {
    background-color: #005732;
}

.bg-othergreen {
    background-color: #005732;
}

.light_text {
    color: #EFEFDD;
}

.green_text {
    color: #005732;
}

.lgreen_text {
    color: #47A349;
}

.btn:hover {
    color: #005732;
    background-color: #47A349;
}

/* logo */

#logo {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#logo img {
    width: 100px;
    height: 100px;
}

/* nav */

.navbar {
    padding: 0;
    text-align: center;
    overflow: auto;
    opacity: 0.7;
}

.nav-font {
    font-size: 1.5rem;
    font-family: 'Nanum Pen Script', sans-serif;
}

.navbar-light .navbar-text {
    font-size: 1.25rem;
    color: #005732;
}

.navbar-toggler-icon {
    font-size: 40px;
    border-radius: 5px;
}

.navbar-toggler .navbar-light {
    border: none;
}

.navbar-light .navbar-nav .nav-link {
    color: #005732;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #47A349;
}

/* banner image */
.img-container {
    max-height: 50vh;
}

.banner-image {
    background: url(../images/wine2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 8rem;
}

.attention {
    background-color: #153415;
    opacity: 0.6;
    color:#EFEFDD;
    font-family: 'Indie Flower', sans-serif;
    font-size: 2.5rem;
}

/* cards */
.card-body {
    flex-grow: 2;
}

.card-item {
    border: 1px solid #153415;
    width: 18rem;
}

.card-img-top {
    height: 100px;
    width: 100px;
}

.card-collapse {
    cursor: pointer;
    border: none;
}

.collapsed-content {
    display: none;
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.card-link {
    text-decoration: underline;
    color: #47A349;
}

.card-link:hover{
    color:#153415; 
}

/* login */

#login {
    padding: 1.25rem;
}

/* media queries */

@media (min-width: 768px){
    .bg-nav {
    background-color: #EFEFDD;
    }
    .banner-image {
        opacity: 1;
    }
    .attention {
    color: #EFEFDD;
    }
}
