{% block about %}

<section class="container-fluid bg-darkgreen light-text mt-3 mb-0" id="about">
            <div class="row about">
                <div class="col-12 text-center">
                    <h3 class="text-uppercase">Why this Reuse Gang?</h3>
                    <h4 class="color-intro">Because we, humans, consume and throw away too much!</h4>
                    <p class="content-intro text-justify"></p>
                </div>                
            </div>
        </section>

{% endblock %}