{% block cards %}

<section class='container-fluid mx-auto'>
	<div class="row text-center">
        {% for item in items %}
		<div class="col-12 col-sm-10 col-md-6 col-lg-4">
			<div class="card my-2">
				<div class="card-body">
                    <div class="row text-left">
                        <div class="col-8 text-left">
                            <h4 class="card-title text-uppercase mb-4">{{item.item_name}}</h4>
					        <h6 class="card-subtitle mb-4">Category: {{item.item_category}}</h6>
                            <h6 class="card-subtitle mb-2">Left by: Username</h6>
                        </div>
                        <div class="col-4">
                            <img src="{{item.item_img}}" class="card-img-top" alt="...">
                        </div>
                    </div>
					<p class="card-text text-left">{{item.item_description}}</p>
                    <div class="row text-left">
                        <a href="#" class="card-link">Email...</a>
                        <span class="card-subtitle mt-0">Username</span>
                    </div>
                    
				</div>
			</div>
		</div>
        {% endfor %}
	</div>
</section>

{% endblock %}