{% block banner %}

<!-- image banner -->
    <section>
        <div class="container-fluid">
            <div class="row img-container img-fluid">
                <div class="col-12 home-image">
                <div class="row">
                    <div class="col-12">
                        <h1 class="attention d-block d-sm-none">Give a new wonderful life to attractive used items?</h1>
                        <h1 class="attention d-none d-sm-block">Welcome to a world of exchange where used items can have a wonderful second life</h1>
                        <p class='text-right'>Only free stuff exchanged here!</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}