{% block search %}

<section class="container-fluid">
    <div class="row">
        <div class="col-6 dropdown mx-auto my-3">
            <button class="btn dropdown-toggle bg-darkgreen" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Search Items by Category
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Kids</a>
                <a class="dropdown-item" href="#">Outdoor</a>
                <a class="dropdown-item" href="#">Household</a>
                <a class="dropdown-item" href="#">Other</a>
            </div>
        </div>
        <div class="col-6">
            
        </div>
    </div>
</section>

{% endblock %}