{% block search %}

<section class="container-fluid">
    <div class="row text-center">
    {% if 'username' not in session %}
        <div class="col-12 dropdown my-3">
            <form method="POST" action="/filtered_items">
                    <select multiple name="categories" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <option value="Low-Carb">Kids</option>
                              <option value="Fat-Free">Outdoor</option>
                              <option value="Gluten-Free">Household</option>
                              <option value="High-Protein">Other</option>
                    </select>
                        <button class="btn dropdown-toggle bg-darkgreen light_text" type="submit" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search Items</button>
            </form>
        </div>
    </div>
</section>
        {% else %}
        <div class="col-6 dropdown my-3">
            <form method="POST" action="/filtered_items">
                    <select multiple name="categories" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <option value="Low-Carb">Kids</option>
                              <option value="Fat-Free">Outdoor</option>
                              <option value="Gluten-Free">Household</option>
                              <option value="High-Protein">Other</option>
                    </select>
                        <button class="btn dropdown-toggle bg-darkgreen light_text" type="submit" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search Items</button>
            </form>
        </div>

    {% endif %}


{% endblock %}