{% block search %}

<section class="container-fluid">
    <div class="row">
        <div class="col-6 dropdown my-3 align-self-center">
            <button class="btn dropdown-toggle bg-darkgreen light_text" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Search Items
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Kids</a>
                <a class="dropdown-item" href="#">Outdoor</a>
                <a class="dropdown-item" href="#">Household</a>
                <a class="dropdown-item" href="#">Other</a>
            </div>
        </div>
        <div class="col-6 my-3 align-self-center">
            <i class="fas fa-user-check"></i>
            <a href="">Login Here</a>
        </div>
    </div>
</section>

{% endblock %}