{% block welcome %}

<div class="section text-center bg">
    <div class="row">
        <div class="col welcome-content">
            <h3 class='text-uppercase'>Welcome to the Reuse Gang platform!</h3>
            <h4>Click the user icon to login or join the gang!</h4>
            <p class="welcome_items">Before buying anything, check below if a similar item is waiting for a new owner...</p>
            <p class="welcome_items">Before throwing away anything, offer it here to see if anyone would need or use it...</p>
        </div>
    </div>
</div>

{% endblock %}