{% block welcome %}

<div class="section text-center bg">
    <div class="row">
        <div class="col welcome-content">
            <h2 class='text-uppercase'>Welcome to the Reuse Gang platform!</h2>
            <p class="welcome_items">Before buying anything, check below if a similar item is waiting for a new owner...</p>
            <p class="welcome_items">Before throwing away anything, join the gang, log in and offer it here to see if anyone would need or use it...</p>
            <h4>Click the unlock icon to login or join the gang!</h4>
        </div>
    </div>
</div>

{% endblock %}