<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta name="description" content="Re-Use Gang">
<meta name="keywords" content="reuse, recycle, community, freecycle, free, exchange">
<meta name="author" content="MPia Kuti">

<!-- favicon -->
<link rel="shortcut icon" type="image" href="">

<!-- style links -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

<!-- link to my css file comes after to make sure it render over bootstrap style -->
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>

<title>{{title}}</title>
</head>


<body>

<!-- Navbar -->
{% include 'layout/nav.html' %}
    
<!-- Banner image -->
{% include 'components/bannerimage.html' %}

<!-- Main content -->

<!-- Flash messages -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <h1 class="text-center green_text">{{ message }}</h1>
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- Loader to show when data is being fetched

<div id="spinner">
  <div class="dot1"></div>
  <div class="dot2"></div>
</div>
-->

{% block content %} {% endblock %}



<!-- Footer -->
{% include 'layout/footer.html' %}



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- link to my js file comes after other scripts to make sure does not slow down webpage  -->
<script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>