<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta name="description" content="Re-Use Gang">
<meta name="keywords" content="reuse, recycle, community, freecycle, free, exchange">
<meta name="author" content="MPia Kuti">

<!-- favicon -->
<link rel="shortcut icon" type="image" href="">

<!-- style links -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<!-- link to my css file comes after to make sure it render over bootstrap style -->
<link rel="stylesheet" href="../static/css/style.css">

<title>Re-Use Gang</title>
</head>

<!-- Navbar -->
{% include 'layout/nav.html' %}
    
<!-- Banner image -->
{% include 'components/bannerimg.html' %}

<!-- Footer -->
{% include 'layout/footer.html' %}
<body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>