{% block footer %}

<footer>
		<div class="container-fluid bg-darkgreen light_text">
			<div class="row text-center justify-content-between footer-row">
				<div class="col-12 col-lg-4 footer-content d-sm-flex mt-1">
					<h5>Developed and designed by MPia Kuti</h5>
				</div>
                <div class="col-12 col-lg-4 footer-content d-sm-flex mt-1">
					<h5>Contact local Zero Waste group on <a class="socialmedia" href="https://www.facebook.com/cobhzerowaste/" target="_blank">
						<i class="fab fa-facebook green"></i>
						<span class="sr-only">Facebook</span>
					</a></h5>
				</div>
				<div class="col-12 col-lg-1 footer-content d-sm-flex">
					<a class="socialmedia" href="https://github.com/mkuti" target="_blank">
						<i class="fab fa-github green"></i>
						<span class="sr-only">GitHub</span>
					</a>
				</div>
				<div class="col-12 col-lg-1 footer-content d-sm-flex">
					<a class="socialmedia" href="https://www.linkedin.com/in/mpiakuti2020/" target="_blank">
						<i class="fab fa-linkedin-in green"></i>
						<span class="sr-only">Linkedin</span>
					</a>
				</div>
			</div>
		</div>
	</footer>

{% endblock %}