{% block navbar %}

<!-- navbar and logo -->
	<nav class="navbar">
		<a href="" class='navar-brand' id="logo">
            <img src="{{url_for('static', filename='../static/images/logo.png')}}" alt="logo">
        </a>
			
			<div class="row bg-green" id="banner">
				<div class="d-none text-right">
					<a class="headers text-uppercase text-decoration-none game-btn" id="reset"></a>
				</div>
				<div class="col-12">
					<h2 class="headers text-center text-uppercase" id="attention"></h1>
				</div>
				<div class="d-none">
					<a class="headers text-uppercase text-decoration-none game-btn" id="mode"></a>
				</div>
			</div>
	</nav>

{% endblock %}